<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://classifiedapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>classifiedapi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>classifiedapi</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>$classifiedapi</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="ConString" Order="1" Enabled="False">
          <Destination Path="Data Source=lmqdj0eoo9.database.windows.net;Initial Catalog=classified_ads;Persist Security Info=True;User ID=Kuchiku;Password=Ruchishr1!" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:lmqdj0eoo9.database.windows.net,1433;Initial Catalog=classified_ads;Integrated Security=False;User ID=Kuchiku@lmqdj0eoo9;Password={your_password_here};Connect Timeout=30;Encrypt=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ConString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:lmqdj0eoo9.database.windows.net,1433;Database=classified_ads;User ID=Kuchiku@lmqdj0eoo9;Password={your_password_here};Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ConString-Web.config Connection String">
      <ParameterValue>Data Source=lmqdj0eoo9.database.windows.net;Initial Catalog=classified_ads;Persist Security Info=True;User ID=Kuchiku;Password=Ruchishr1!</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>